@charset "utf-8";

/* 共通 */
body {
	font-family: 'Roboto', sans-serif;
	font-family: 'Noto Sans JP', sans-serif;
	color: #808080;
	letter-spacing: .1rem;
	line-height: 1.1rem;
}

a {
	color: #666;
	text-decoration: none;
}

a:hover {
	color: #BBBBBB;
}

/* ヘッダー */
#mainWrapper {
	width: 80%;
	margin: 0px auto;
}

header > .title {
	text-align: center;
	padding: 100px 0px;
}

header > .title h2 {
	margin: 0px;
	font-size: 2rem;
}

/* メニュー */
.menu {
	display: flex;
	justify-content: center;
	width: 100%;
	text-align: center;
	margin: 10px auto;
}

.menu h2 {
	font-size: 0.8rem;
	margin: 0px;
	padding: 10px 30px;
}

.arrow_u {
	position: relative;
	display: inline-block;
	padding-left: 20px;
	color: #808080;
	text-decoration: none;
}

.arrow_u:before {
  content: '';
  width: 6px;
  height: 6px;
  border: 0;
  border-bottom: solid 2px #808080;
  border-right: solid 2px #808080;
  position: absolute;
  top: 60%;
  left: 0;
  margin-top: -6px;
  transform: rotate(45deg);
}
 
.arrow_t {
	position: relative;
	display: inline-block;
	padding-left: 20px;
	color: #808080;
	text-decoration: none;
}

.arrow_t:before {
  content: '';
  width: 6px;
  height: 6px;
  border: 0;
  border-bottom: solid 2px #808080;
  border-right: solid 2px #808080;
  position: absolute;
  top: 70%;
  left: 0;
  margin-top: -6px;
  transform: rotate(225deg);
}


/* ディスコグラフィ */
#Discography {
	width: 80%;
	margin: 0px auto;
	padding-top: 30px;
}

.Disco-wrapper {
	padding: 40px;
	background-color: #F7F7F7;
	border-radius: 10px;
	font-size: .8rem;
	line-height: 1.2rem;
}

.Disco-Inner{
	width: 95%;
	display: flex;
	justify-content: space-between;
	margin: 20px auto 0px;
}

.Disco-Inner .mov {
	width: 60%;
	margin: 0px;
}

.Disco-Inner .movtext {
	width: 40%;
	margin: 0px;
}

.Disco-Inner .movtext .uline {
	border-bottom: 1px solid #808080;
	margin: 8px;
}

.Disco-Inner .movtext-pdg p {
	margin: 0px;
}

.Disco-Inner .movtext-pdg2 p {
	margin: 3px 0px;
}

.Disco-Inner .movtext-pdg2 .artist {
	font-size: .8rem;
	font-weight: bold;
}

.Disco-Inner .movtext-pdg2 .circle {
	font-size: 1rem;
	line-height: 1.3rem;
	font-weight: bold;
}

.Disco-Inner .movtext-pdg2 dl {
	font-size: .8rem;
	line-height: 1rem;
	margin: 10px 0px;
}

.Disco-Inner .movtext .button {
	display: inline-block;
	margin: 8px 0px;
	padding: 6px 12px; 
	color: #808080;
	text-decoration: none;
	text-align: center;
	border: solid 1px #808080;
	border-radius: 5px;
	font-size: 0.7rem;
	-webkit-transition: all 0.1s;
	transition: all 0.1s;
}

.Disco-Inner .movtext .button:hover{
	background-color: #808080;
	color: #fff;
}

.Disco-wrapper .title-Inner-Track {
	width: 90%;
	margin: 0px auto;
	padding-top: 5px;
	font-weight: bold;
}

.Disco-wrapper .wrapper {
	width: 90%;
	display: flex;
	justify-content: space-between;
	padding: 15px 20px;
	margin: 0px auto;
	background-color: #fff;
	/* border: 1px solid #EAEAEA; */
	border-radius: 10px;
}

.Disco-wrapper .title-Inner-L, .title-Inner-R {
	width: 50%;
}

.Disco-wrapper .title-Inner p {
	margin: 2px 0px;
}

.title-note {
	font-size: .5rem;
	font-weight: lighter;
	line-height: .8rem;
	letter-spacing: 0px;
	margin: 0px;
	padding-left: 15px;
	padding-bottom: 5px;
}





/* 作品一覧 */

.contents {
	width: 100%;
	margin-bottom: 30px;
}

ul.W-Info {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0px;
	padding-top: 40px;
}

ul.W-Info li {
	position: relative;
	width: 18%;
	list-style: none;
	margin-right: 5px;
	margin-bottom: 5px;
}

ul.W-Info li:before{
	content: "";
	display: block;
	padding-top: 100%;
}

ul.W-Info li img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	object-fit: cover;
	object-position:50% 50%;
	border: 1px solid #E5E5E5;
}


/* 作品詳細 オーバーレイ */
.OverLayer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	transition: opacity 0.65s;
	pointer-events: none;
	opacity: 0;
	z-index: 999999999;
	font-size: 0.8rem;
	color: #fff;
}

.OverLayer.isShow {
  transition: opacity 0.65s;
  pointer-events: auto;
  opacity: 1;
}

.OverLayer-Mask {
  position: fixed;
  background: rgba(0, 0, 0, .88);
  width: 100%;
  height: 100%;
}

.OverLayer-Inner {
	position: absolute;
	overflow-y: scroll;
  top: 50%;
  left: 50%;
	width: 85%;
	height: 55%;
  transform: translate(-50%, -50%);
}

.wrapper {
	display: flex;
	padding: 30px;
}

.mov {
	width: 65%;
	margin: 0px;
}

.youtube{
	position: relative;
	width: 100%;
	padding-top: 56.25%;
}

.youtube iframe{
	position: absolute;
	top: 0;
	right: 0;
	width: 100% !important;
	height: 100% !important;
}

.wrapper .small, .social-icon .small {
	font-size: 0.5rem;
	text-align: right;
	margin: 0px;
	margin-top: 5px;
	margin-right: 5px;
}

.OverLayer-Inner .movtext {
	width: 35%;
	margin: 25px 0px;
}

.movtext-pdg2 .artist {
	font-size: 1rem;
	font-weight: bold;
}

.movtext-pdg p {
	margin: 0px;
	margin-top: 5px;
}

.movtext-pdg2 p {
	margin: 0px;
	margin-bottom: 15px;
}

.movtext-pdg, .movtext-pdg2 {
	padding-left: 25px;
}

.movtext-pdg2 .title {
	font-size: 1.5rem;
	line-height: 1.7rem;;
	font-weight: bold;
}

.movtext .uline {
 	border-bottom: 1px solid #808080;
	margin: 15px 0 25px 0;
}

.movtext .button {
	padding: 8px 15px; 
	color: #fff;
	text-decoration: none;
	text-align: center;
	border: solid 1px #fff;
	border-radius: 5px;
	font-size: 0.7rem;
	-webkit-transition: all 0.1s;
	transition: all 0.1s;
}

.movtext .button:hover{
	background-color: #fff;
	color: #000;
}

.movtext dl {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin: 25px 0px;
	font-size: .7rem;
	line-height: 1.3rem;
}

.movtext dt {
	width: 40%;
	overflow-wrap: break-word;
}

.movtext dd {
	width: 60%;
	margin: 0px;
	overflow-wrap: break-word;
}


/* プロフィール */
.Profile {
	width: 100%;
	justify-content: center;
	padding: 50px 0px 60px 0px;
	font-style: normal;
	margin: 0px;
}

.Profile-wrapper {
	padding: 40px;
	background-color: #F7F7F7;
}

.All-Info{
	display: flex;
}

.Profile .img {
	width: 20%;
	margin: 0px auto;
}

.Profile .img img {
	width: 100%;
	border-radius: 50%;
}

.Profile p {
	text-align: justify;
}

.Profile .contents .title {
	display: flex;
	text-align: left;
	padding: 0px;
	position: relative;
	margin-top: 0px;
}

.P-Info {
	width: 70%;
	margin: 0px;
	margin-left: 10px;
}

.Profile .contents .title:after {
	position: absolute;
	bottom: 0;
	left: 0;
	width:90%;
	height: 5px;
	content: '';
	background-image: -webkit-repeating-linear-gradient(135deg, #BBB, #BBB 1px, transparent 2px, transparent 5px);
	background-image: repeating-linear-gradient(-45deg, #BBB, #BBB 1px, transparent 2px, transparent 5px);
	background-size: 7px 7px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.title h3 {
	width: 90%;
	position: relative;
}

.contents3 {
margin-bottom: 40px;
}

.contents3 h3 {
	width: 50%;
	position: relative;
}

.contents p {
	font-size: 0.7rem;
	line-height: 1.6;
	color: #808080;
	margin: 10px 0px 0px 0px;
}

.contents p + p {
	margin: 0px;
}

.contents2 {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 20px;
}

.v-info, .d-info {
	width: 50%;
	font-size: 0.8rem;
}

.r-info {
	width: 90%;
	font-size: 0.8rem;
}

.v-info h3, .d-info h3, .r-info h3, #contact h3 {
	margin: 0px;
	margin-bottom: 15px;
	font-size: 1rem;
	padding: 3px 15px;
	border-left: 3px solid #808080;
}

.v-info dl, .d-info dl {
	padding-left: 20px;
	font-size: 0.7rem;
	display: flex;
	flex-wrap: wrap;
}

.v-info dt, .d-info dt, .r-info dt {
	width: 30%;
	margin: 0px 0px 5px 0px;
}

.v-info dd, .d-info dd {
	width: 70%;
	margin: 0px;
}

.r-info dd {
	width: 100%;
	margin: 0px;
}

.r-info dd + dt {
	margin-top: 20px;
}

.border {
	background-color: #EAEAEA;
	padding: 2px 17px;
}

.check {
	background-color: #EAEAEA;
	padding: 2px 5px;
	margin: 0px 5px;
}


/* ソーシャルアイコン */
.P-Info ul.social-icon {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 0px auto;
}

.share ul.social-icon {
	width: 97%;
	text-align: right;
	margin: 50px 0 10px 0;
	padding: 0px;
}

ul.social-icon li {
	list-style: none;
	padding: 0px 10px;
}


.fa-line {
	color: #00B900;
}

.fa-twitter {
	color: #00acee;
}

.fa-soundcloud {
	color: #ff7700;
}

.fa-youtube {
	color: #c4302b;
}


/* お問い合わせ */
#contact {
	font-size: 0.7rem;
	color: #808080;
}

#contact p {
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 15px;
}

input[type="text"], input[type="email"] {
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

#form-name, #form-mail {
	width: 50%;
 	border-bottom: 1px solid #808080;
}

textarea {
	width: 70%;
	height: 150px;
	margin: 0;
	padding: 0.5rem;
	font-size: 1rem;
	border: solid 1px #808080;
	border-radius: 4px;
}

button {
    width: 50px;
    height: 30px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	background-color: #808080;
	border: solid 1px #fff;
	border-radius: 10%;
	font-size: 0.7rem;
	-webkit-transition: all 0.1s;
	transition: all 0.1s;
}

button:hover{
     background-color: #EAEAEA;
}

#copyright {
	text-align: right;
	margin-bottom: 5px;
	padding-right: 25px;
	font-size: 8px;
	font-weight: 100;
}






/* ----------------- */
/* レスポンシブ対応 */
/* ----------------- */
/* 768〜1079px */
@media screen and (min-width:768px) and (max-width:1079px) {

	#Discography {
		width: 100%;
		margin: 0px auto;
		padding-top: 30px;
	}
	
	.Disco-Inner {
		width: 90%;
		display: block;
		margin: 0px auto;
	}

	.title-Inner {
		width: 90%;
		margin: 0px auto;
	}
	
	.Disco-wrapper {
		padding: 40px 20px;
		margin: 0px auto;
		background-color: #F7F7F7;
		border-radius: 10px;
		font-size: .8rem;
		line-height: 1.2rem;
	}
	
	.Disco-Inner .mov, .Disco-Inner .movtext {
		width: 100%;
		margin: 0px;
	}

	.Disco-wrapper .wrapper {
		width: 90%;
		display: flex;
		justify-content: space-between;
		padding: 15px 35px;
		margin: 0px auto;
		background-color: #fff;
		border-radius: 10px;
	}
	
	ul.W-Info li {
		position: relative;
		width: 30%;
		list-style: none;
		margin-right: 5px;
		margin-bottom: 5px;
	}

	
	.menu h2 {
		font-size: 1.2rem;
		margin: 0px;
	}

	.wrapper {
		display: block;
		padding: 30px;
	}
	
	.mov {
		width: 100%;
		margin: 0px;
	}
	

	.OverLayer-Inner {
		position: absolute;
		overflow-y: scroll;
		width: 85%;
		height: 90vh;
		transform: translate(-50%, -50%);
	}

	.OverLayer-Inner .movtext {
		width: 80%;
		margin: 30px auto;
	}

	.OverLayer-Inner .movtext .uline {
		border-bottom: 1px solid #808080;
		margin: 15px 0px;
 }

	.OverLayer-Inner .movtext .button {
		display: inline-block;
		margin: 8px auto;
		padding: 10px 70px; 
		color: #fff;
		text-decoration: none;
		text-align: center;
		border: solid 1px #808080;
		border-radius: 5px;
		font-size: 0.8rem;
		-webkit-transition: all 0.1s;
		transition: all 0.1s;
	}

	.OverLayer-Inner .movtext .button:hover{
		background-color: #fff;
		color:#808080;
	}



	.movtext .button {
		display: inline-block;
		padding: 10px 18px; 
		margin-top: 20px;
		color: #fff;
		text-decoration: none;
		text-align: center;
		border: solid 1px #fff;
		border-radius: 5px;
		font-size: 1rem;
		-webkit-transition: all 0.1s;
		transition: all 0.1s;
	}

	.contents2 {
		display: block;
		justify-content: flex-start;
		margin-bottom: 40px;
	}

	.v-info, .d-info {
		width: 100%;
		margin-bottom: 20px;
	}

}





/* 767px以下*/
@media screen and (max-width:767px) {

	#mainWrapper {
		width: 80%;
	}

	header > .title {
		text-align: center;
		padding: 70px 0px 50px 0px;
	}

	.menu {
		display: block;
		justify-content: center;
		width: 100%;
		text-align: center;
	}

	.menu h2 {
		border: 1px solid #808080;
		border-radius: 10px;
		font-size: 1.2rem;
		margin: 0px;
		padding: 15px 30px;
	}

.menu > .hidden {
		display: none;
}

#Discography {
	width: 100%;
	margin: 0px auto;
	padding-top: 30px;
}

.Disco-Inner{
	width: 90%;
	display: block;
	margin: 0px auto;
}

.Disco-wrapper {
	padding: 40px 20px;
	background-color: #F7F7F7;
	border-radius: 10px;
	font-size: .8rem;
	line-height: 1.2rem;
}

.Disco-Inner .mov, .Disco-Inner .movtext {
	width: 100%;
	margin: 0px;
}

.movtext-pdg, .movtext-pdg2 {
	padding: 0px 20px 0px 20px;
}

.button-mq {
	text-align: center;
}

.Disco-Inner .movtext .button {
	display: inline-block;
	margin: 8px auto;
	padding: 12px 70px; 
	color: #808080;
	text-decoration: none;
	text-align: center;
	border: solid 1px #808080;
	border-radius: 5px;
	font-size: 0.8rem;
	-webkit-transition: all 0.1s;
	transition: all 0.1s;
}

.Disco-wrapper .wrapper {
	width: 90%;
	display: block;
	justify-content: space-between;
	padding: 20px 0px 20px 30px;
	margin: 0px auto;
	background-color: #fff;
	border: 1px solid #EAEAEA;
	border-radius: 10px;
}

.Disco-wrapper .title-Inner-L, .title-Inner-R {
	width: 100%;
}

.Disco-wrapper .title-Inner-Track {
	width: 100%;
	margin: 10px auto;
	text-align: center;
	font-size: 1rem;
	padding-top: 5px;
	font-weight: bold;
}

	ul.W-Info li {
		position: relative;
		width: 100%;
		list-style: none;
		margin-right: 5px;
		margin-bottom: 5px;
	}

	.W-Info > .hidden {
		display: none;
}

	.wrapper {
		display: block;
		padding: 30px;
	}
	
	.mov {
		width: 100%;
		margin: 0px;
	}
	
	.OverLayer-Inner {
		position: absolute;
		overflow-y: scroll;
		width: 85%;
		height: 90vh;
		transform: translate(-50%, -50%);
	}

	.OverLayer-Inner .movtext {
		width: 80%;
		margin: 30px auto;
	}

	.OverLayer-Inner .movtext .uline {
		border-bottom: 1px solid #808080;
		margin: 15px 0px;
 }

	.OverLayer-Inner .movtext .button {
		display: inline-block;
		margin: 8px auto;
		padding: 10px 70px; 
		color: #fff;
		text-decoration: none;
		text-align: center;
		border: solid 1px #808080;
		border-radius: 5px;
		font-size: 0.8rem;
		-webkit-transition: all 0.1s;
		transition: all 0.1s;
	}

	.OverLayer-Inner .movtext .button:hover{
		background-color: #fff;
		color:#808080;
	}

	.Profile-wrapper {
		padding: 40px 20px;
		background-color: #F7F7F7;
	}

	.All-Info{
		display: block;
	}

	.Profile .img {
		width: 60%;
		margin: 0px auto;
	}

	.Profile .contents .title {
		display: block;
		padding: 0px;
		margin: 0px;
	}

	.title h3 {
		width: 100%;
		text-align: center;
		margin: 15px auto;
		
	}
	
	.P-Info {
		width: 80%;
		margin: 0px auto;
	}

	.P-Info ul.social-icon {
		width: 100%;
		display: flex;
		justify-content: center;
		margin: 0px;
		padding: 15px 0px 25px 0px;
	}

	.border {
		display: block;
		background-color: #EAEAEA;
		padding: 4px 17px;
	}

	.v-info dl, .d-info dl {
		padding-left: 20px;
		font-size: 0.7rem;
		display: block;
	}
	
	.v-info dt, .d-info dt, .r-info dt {
		width: 100%;
		margin: 0px 0px 5px 0px;
	}
	
	.v-info dd, .d-info dd {
		width: 100%;
		margin: 0px 0px 5px 0px;
		padding-left: 15px;
	}

	.contents2 {
		display: block;
		justify-content: flex-start;
		margin-bottom: 40px;
	}

	.contents3 h3 {
		width: 100%;
		position: relative;
	}

	.contents3 dl dd {
		text-align: justify;
	}

	.v-info, .d-info {
		width: 100%;
		margin-bottom: 20px;
	}

	.check {
		background-color: #EAEAEA;
		padding: 1px 3px;
		margin: 0px 5px;
	}

	#form-name, #form-mail {
		width: 90%;
		 border-bottom: 1px solid #808080;
	}
	
	textarea {
		width: 90%;
		height: 250px;
		margin: 0;
		padding: 0.5rem;
		font-size: 1rem;
		border: solid 1px #808080;
		border-radius: 4px;
	}

	button {
	width: 80px;
	height: 40px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	background-color: #808080;
	border: solid 1px #fff;
	border-radius: 5px;
	font-size: .9rem;
	-webkit-transition: all 0.1s;
	transition: all 0.1s;
}

.share ul.social-icon {
	width: 97%;
	text-align: right;
	margin: 50px 0 10px 0;
	padding: 0px;
}

#copyright {
	text-align: right;
	margin-bottom: 5px;
	padding-right: 25px;
	font-size: 0.8rem;
	font-weight: 100;
}

}











