@charset "utf-8";

/* ヘッダー */
/* ----------------------- */
#Main {
  display: inline-block;
  width: 100%;
  text-align: center;
}

/* ナビ */
/* ----------------------- */
#MainMenu {
  display: block;
  width: 70%;
}

#MainMenu .flex {
  display: flex;
  justify-content: space-between;
}

#MainMenu .arrow-d {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 3px solid;
  border-color:#333 #333 transparent transparent;
  transform: rotate(135deg) translateX(-3px) translateY(0px);
  vertical-align: top;
}

#MainMenu a {
  display: inline-block;
  position: relative;
  color: #333;
  text-decoration: none;
}

#MainMenu a:before{
	content: "";
	position: absolute;
	left: 0;
	bottom: -8px;
	width: 100%;
	height: 2px;
	background: #999;
	transform: scale(0, 1);
	transition: 0.2s;
}

#MainMenu a:hover:before {
	transform: scale(1);
}

/* Discography */
/* ----------------------- */
#Discography {
  width: 86%;
  background-color: #f5f5f5;
  border-radius: 10px;
}

#Discography .music{
  width: 60%;
}

#Discography .text{
  width: 40%;
}

#Discography .subtitle {
  display: inline-block;
  width: 35%;
}

#Discography .ws-bt {
  width: 30%;
  display: inline-block;
  text-align: center;
  border: 1px solid #808080;
  border-radius: 5px;
}

#Discography .ws-bt:hover {
  display: inline-block;
  text-align: center;
  border: 1px solid #EAEAEA;
  background-color: #808080;
  color: #FFF;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s;
}

#Discography .flex2 {
  display: flex;
  justify-content: center;
}

#Discography .music_list_L, #Discography .music_list_R {
  width: 45%;
}

/* Works */
/* ----------------------- */
#Works ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#Works li {
  position: relative;
  width: 14%;
}

#Works li::before {
  content: "";
  display: block;
  padding-top: 100%;
}

#Works li img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
  border: 1px solid #EAEAEA;
}

#Works .mark_new {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 10;
}

.mark_new::before {
  position: absolute;
  display: inline-block;
  content: "";
  left: 0;
  top: 0;
  border-style: solid;
  border-width: 60px 60px 0px 0px;
  border-color: #dd0d0d transparent blue green;
}

.mark_new::after {
  position: absolute;
  content: "NEW";
  transform: rotate(315deg);
  display: block;
  color: #fff;
  top: 12px;
  left: 4px;
  text-align: center;
}

#Works .ribbon {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 60%;
  z-index: 5;
  text-align: center;
  color: #fff;
  border: 1px solid #333;
  background: #333;
  opacity: .85;
}

/* About */
/* ----------------------- */
#About {
  background-color: #EAEAEA;
}

#About h3 {
  display: inline-block;
}

#About p {
  text-align: justify;
}

#About .title {
  border-left: 3px solid #333;
}

#About .subtitle {
  display: inline-block;
  width: 20%;
}

#About .flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#About .flex2 {
  display: flex;
  justify-content: space-between;
}

#About .flex3 {
  display: flex;
}

#About .My_img {
  width: 20%;
}

#About .My_img img{
  width: 100%;
  border-radius: 50%;
}

#About .My_text {
  width: 70%;
}

#About .prof {
  width: 80%;
}

#About .sns {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; /*下揃え*/
  width: 20%;
}

.fa-twitter {
  color: #00acee;
}

.fa-soundcloud {
  color:#ff7700;
}

.fa-youtube{
  color: #FF0000;
}

#About .Partition {
  border-bottom: 1px solid #808080;
}

#About .Partition2 {
  width: 20%;
  border-bottom: 1px dotted #808080;
}

#About label {
  letter-spacing: .05rem;
}

#About input[type="text"], #About input[type="email"] {
  width: 40%;
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid #333;
}

#About textarea {
  width: 70%;
  height: 10rem;
}

#About button {
  border: 1px solid #808080;
  border-radius: 5px;
}

#About button:hover {
  background-color: #808080;
  color: #FFF;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s;
}


/* コピーライト */
/* ----------------------- */
#cpr {
  text-align: right;
}

#page_top {
  position: fixed;
  display: inline-block;
  background-color: #333;
  opacity: .8;
  border-radius: 5px;
  right: 20px;
  bottom: 20px;
  z-index: 10000;
}

#page_top:hover {
  display: inline-block;
  background-color: #999;
  color: #FFF;
  cursor: pointer;
  transition: all 0.1s;
}

#page_top .arrow-d {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 8px solid;
  border-color:#fff #fff transparent transparent;
  transform: rotate(-45deg) translateX(-4px) translateY(13px);
  vertical-align: top;
}



/* オーバーレイ */
/* ----------------------- */
.overlayer {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  z-index: 999999999;
}

.isShow {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.3s;
}

.ol-mask {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0, .85);
}

.ol-wrapper {
  position: fixed;
  width: 600px;
  height: 80vh;
  overflow-y: scroll;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.overlayer .music {
  width: 100%;
  text-align: center;
}

.overlayer .ifs_time {
  display:inline-block;
  width: 80%;
  text-align: right;
  color: #fff;
}

.overlayer .text {
  width: 80%;
  color: #FFF;
}

.overlayer .subtitle {
  display: inline-block;
  width: 30%;
}

.ws-wrapper {
  text-align: center;
}

.overlayer .ws-bt {
  width: 30%;
  display: inline-block;
  text-align: center;
  border: 1px solid #808080;
  color: #fff;
  border-radius: 5px;
}

.overlayer .ws-bt:hover {
  display: inline-block;
  text-align: center;
  border: 1px solid #EAEAEA;
  background-color: #fff;
  color: #333;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s;
}


/* ----------------------- */
/* レスポンシブ対応 */
/* ----------------------- */
/* ▼ 768px〜1024px */
@media screen and (min-width:768px) and (max-width:1024px) {

    #Discography .subtitle {
      display: inline-block;
      width: 45%;
    }

    #Discography .ws-bt {
      width: 50%;
      display: inline-block;
      text-align: center;
      border: 1px solid #808080;
      border-radius: 5px;
    }

    #Works li {
      position: relative;
      width: 25%;
    } 

    #About .flex2 {
      display: block;
      text-align: center;
    }

    #About .My_img {
      width: 35%;
      margin-bottom: 10px;
    }

    #About .My_text {
      width: 80%;
      margin: 0px auto;
    }

    #About .prof {
      width: 100%;
    }

    #About .prof > p{
      text-align: center;
      margin-bottom: 10px;
    }

    #About .sns {
      display: flex;
      width: 60%;
      margin: 0px auto;
    }

    #About .sns_items {
      display: block;
      margin: 0px auto;
    }

}

/* ▼ 〜768px */
@media screen and (max-width:768px) {


    #Discography {
      width: 100%;
      padding: 0px;
      background-color: #f5f5f5;
      border-radius: 10px;
    }

    #Discography .music{
      width: 90%;
    }

    #Discography .text{
      width: 80%;
      padding: 0px;
      margin: 0px auto;
    }

    #Discography .subtitle {
      display: inline-block;
      width: 40%;
    }

    #Discography .flex2 {
      display: block;
    }

    #Discography .music_list_L, #Discography .music_list_R {
      width: 90%;
      margin: 0px auto;
    }

    #Works li {
      position: relative;
      width: 50%;
    } 

    #About .flex2 {
      display: block;
      /* justify-content: space-between; */
    }

    #About .My_img {
      width: 50%;
      margin-bottom: 10px;
    }

    #About .My_text {
      width: 80%;
      margin: 0px auto;
    }

    #About .prof {
      width: 100%;
    }

    #About .prof > p{
      text-align: center;
      margin-bottom: 10px;
    }

    #About .sns {
      display: flex;
      width: 60%;
      margin: 0px auto;
    }

    #About .sns_items {
      display: block;
      margin: 0px auto;
    }

    #About .subtitle {
      display: inline-block;
      width: 35%;
    }

    #About input[type="text"], #About input[type="email"] {
      width: 80%;
    }
    
    #About textarea {
      width: 90%;
    }
}